<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>Amin's Resume2</title>

<link href="./static/main.d8e0d294.css" rel="stylesheet"></head>

<body class="">

<!-- Add your content of header -->
<div class="background-color-layer" style="background-image: url('static/assets/images/img-01.jpg')"
></div>
<main class="content-wrapper">
  <header class="white-text-container section-container">
    <div class="text-center">
      <h1>I am Amin Jalilzadeh</h1>
      <p>***GIS man ***</p>
      <p>
        <a class="fa-icon fa-icon-2x" href="https://scholar.google.com/citations?user=w_NCigoAAAAJ&hl=en&authuser=1" title="google scholar">
          <i class="fa fa-files-o"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://www.researchgate.net/profile/Amin-Jalilzadeh" title="researchgate">
          <i class="fa fa-user-circle-o"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://www.linkedin.com/in/amin-jalilzadeh-a7330ba4/" title="">
          <i class="fa fa-linkedin"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://github.com/Amin-Jalilzadeh" title="github">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </header>



<!-- Add your site or app content here -->
 
 <div class="container">
   <div class="row">
     <div class="col-xs-12">

        <div class="card">
          <div class="card-block">
            <h2>About me</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="./static/assets/images/img-01.jpg" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">

              <p>**This page is my first Web project, and I am sharing the link with the great professors that I love to work with. It would be so exciting for me to receive a comment from you. ((last section of this page))** </p>
              <p>I am highly motivated to contribute to challenging projects with a chance to learn new things. GIS is a great interdisciplinary major, which provides a chance to enroll in a great number of issues, from environment to health. I also have a high interest in computer science and remote sensing studies.</p>
              <p>My age-long ambition is to become an eminent researcher and have an academic position within the GIS community. The main purpose in my life is to make a difference in science and the world. </p>
              <p>I am addicted to learn new things, and make my knowledge as deep as I can.</p>
              <p>If you are looking for a passionate, dedicated and hard-working profile along with strong communication skills and experience in different GIS and RS techniques and datasets as well as Artificial Intelligence (AI) and Machine Learning (ML) approaches, please give me a chance to have an interview with you.</p>


              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Skills that I started/plan to learn</h2>
            <div class="row">
              <div class="col-md-4">
                <img src="./static/assets/images/img-02.jpg" class="img-responsive" alt="">
                <h3 class="h5">Deep learning and machine learning with TensorFlow</h3>
                <p></p>
              </div>
              <div class="col-md-4">
                <img src="./static/assets/images/img-03.jpg" class="img-responsive" alt="">
                <h3 class="h5">Computer Vision</h3>
                <p></p>
              </div>
              <div class="col-md-4">
                <img src="./static/assets/images/img-04.jpg" class="img-responsive" alt="">
                <h3 class="h5">LIDAR and RADAR</h3>
                <p></p>
              </div>
            </div>
          </div>
        </div>

                 <div class="card">
          <div class="card-block">
            <h2>My skilss</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">MATLAB   <small>Expert</small></h3>
                </div>
              </div>
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">Python  <small>Expert</small></h3>
                </div>
              </div>
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">WebGIS  <small>Beginner</small></h3>
                </div>
              </div>
                <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">AutoCAD 2D & 3D  <small>Expert</small></h3>
                </div>
              </div>
                <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">Tableau  <small>Intermediate</small></h3>
                </div>
              </div>
                <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">Envi  <small>Intermediate</small></h3>
                </div>
              </div>
                <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">3D max  <small>Beginner</small></h3>
                </div>
              </div>
                <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">SNAP  <small>Intermediate</small></h3>
                </div>
              </div>
                <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">Google earth pro  <small>Beginner</small></h3>
                </div>
              </div>
                <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">LATEX   <small>Expert</small></h3>
                </div>
              </div>
                <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">ArcGIS  <small>Expert</small></h3>
                </div>
              </div>
                <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">Global mapper  <small>Expert</small></h3>
                </div>
              </div>
            </div>
          </div>
        </div>




        <div class="card">
          <div class="card-block">
            <h2>Education</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">""</small>
                  <h3 class="h5 date-title">Civil-Surveying and Geomatics Engineering</h3>
                  <p>Shahid Rajaee University, Tehran, Iran</p>
                </div>
                
              </div>
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">""</small>
                  <h3 class="h5 date-title">Geospatial Information System (GIS)</h3>
                  <p>Shahid Rajaee University, Tehran, Iran</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">""</small>
                  <h3 class="h5 date-title">ENGLISH PROFICIENCY: IELTS</h3>
                  <p>Total score 7  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="card">
          <div class="card-block">
            <h2>Work</h2>
            <div class="work-experience">
              <small class="date">2016-2021</small>
              <h3 class="h5 date-title">Teacher - <a >art school/ high school</a></h3>


              <p>Teaching surveying and geomatics engineering courses:</p>
              <p>**Field Surveys (Theodolites, Total Stations, Measuring Tapes, and so forth), Mathematics, Architecture, ... </p>

            </div>

            <div class="work-experience">
              <small class="date">2016-2021</small>
              <h3 class="h5 date-title">Survey engineering - <a href="https://www.google.com/maps/place/West+Azerbaijan+Province,+Iran/@39.3465749,45.0491552,577m/data=!3m2!1e3!4b1!4m5!3m4!1s0x40144e2c0ff54765:0xceb00c8d8c92e0ee!8m2!3d39.346693!4d45.0513129" title="">o	Subdivision of a land into several lots </a></h3>

              <p>**Field Surveying, Assisting to solve legal problems..</p>
            </div>

            <div class="work-experience">
              <small class="date">2015-2019</small>
              <h3 class="h5 date-title">Agri-land management - <a href="https://www.google.com/maps/place/39%C2%B014'47.6%22N+45%C2%B001'29.2%22E/@39.2478884,45.0217805,1942m/data=!3m1!1e3!4m13!1m7!3m6!1s0x40144e2c0ff54765:0xceb00c8d8c92e0ee!2sWest+Azerbaijan+Province!3b1!8m2!3d39.346693!4d45.0513129!3m4!1s0x0:0x0!8m2!3d39.2465477!4d45.0247729" title="">Applying spray irrigation and automation in agriculture lands  </a></h3>

              <p>** Analytical drawing, GIS mapping, Surveying..</p>
            </div>

          </div>
        </div>




        <div class="card">
          <div class="card-block">
            <h2>Education</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">""</small>
                  <h3 class="h5 date-title">Civil-Surveying and Geomatics Engineering</h3>
                  <p>Shahid Rajaee University, Tehran, Iran</p>
                </div>

              </div>
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">""</small>
                  <h3 class="h5 date-title">Geospatial Information System (GIS)</h3>
                  <p>Shahid Rajaee University, Tehran, Iran</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">""</small>
                  <h3 class="h5 date-title">ENGLISH PROFICIENCY: IELTS</h3>
                  <p>Total score 7  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>RESEARCH PROJECTS</h2>
            <div class="work-experience">
              <small class="date">2021-ongoing</small>
              <h3 class="h5 date-title">Develop and establish a new toolbox in MATLAB to process portable data <a ></a></h3>


              <p>** More than 130 practical and novel functions </p>

            </div>

            <div class="work-experience">
              <small class="date">2018</small>
              <h3 class="h5 date-title">Write ARCMAP functions in MATLAB through PostGIS and QGIS   <a href="https://www.google.com/maps/place/West+Azerbaijan+Province,+Iran/@39.3465749,45.0491552,577m/data=!3m2!1e3!4b1!4m5!3m4!1s0x40144e2c0ff54765:0xceb00c8d8c92e0ee!8m2!3d39.346693!4d45.0513129" title="">o	Subdivision of a land into several lots </a></h3>

              <p></p>
            </div>

            <div class="work-experience">
              <small class="date">2018-2019</small>
              <h3 class="h5 date-title">define methodologies to cope with the rapid urbanization of the Capital city of Tehran  - <a href="" title="">  </a></h3>

              <p>*Detect a districts with high potential for growth and relatively high population density </p>
              <p>**eliminating main urban barriers of different sizes. Urban data of the barriers and architecture designs were collected and integrated with GIS to identify the engaged factors in optimizing the district's re-planning</p>
              <p>***The relation between these urban data was analyzed in AutoCAD and visualized and analyzed in ArcMap to design better policies to re-planning the city or improve the future urban design.</p>
            </div>

            <div class="work-experience">
              <small class="date">Winter 2020, Shahid Rajaee University</small>
              <h3 class="h5 date-title">TEACHING ASSISTANTS  - <a href="" title="">  </a></h3>

              <p>Developed and delivered classes about programming by MATLAB and PGSQL </p>
            </div>


          </div>
        </div>




        <div class="card">
          <div class="card-block">
            <h2>Xiamen, CHINA -- AIESEC, cross-cultural internship and global volunteer exchange experiences.</h2>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="./static/assets/images/img-05.jpg" class="img-responsive" alt="...">
                <div class="carousel-caption">
                  <h3 class="h5">Leadership Development Experience through a Global Volunteer opportunity</h3>
                  <p>2017</p>
                </div>
              </div>
              <div class="item">
                <img src="./static/assets/images/img-06.jpg" class="img-responsive" alt="...">
                <div class="carousel-caption">
                  <h3 class="h5">Prepared and delivered classes to students </h3>
                  <p>2017</p>
                </div>
              </div>

              <div class="item">
                <img src="./static/assets/images/img-07.jpg" class="img-responsive" alt="...">
                <div class="carousel-caption">
                  <h3 class="h5">Prepared and delivered classes to students </h3>
                  <p>2017</p>
                </div>
              </div>
            </div>

            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

          </div>
          </div>
        </div>


        <div class="card">
          <div class="card-block">
            <h2> REFERENCES </h2>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">


            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="./static/assets/images/img-10.jpg" class="img-responsive" alt="...">
                <div class="carousel-caption">
                  <h3 class="h5">Dr Saeed Behzadi, , Shahid Rajaee University</h3>
                  <p>KN Toosi University of Technology: Tehran</p>
                </div>
              </div>
              <div class="item">
                <img src="./static/assets/images/img-09.jpg" class="img-responsive" alt="...">
                <div class="carousel-caption">
                  <h3 class="h5"> Dr Masoud Shirazian, Shahid Rajaee University </h3>
                  <p>Royal Institute of Technology: Stockholm</p>
                </div>
              </div>


            </div>

            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

          </div>
          </div>
        </div>







        <div class="card">
          <div class="card-block">
            <h2>Three selected articles  --> click on links</h2>
            <div class="row">
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://drive.google.com/file/d/17IkUvY6MBAVs11S95fJX3eE6ykciHJUk/view?usp=sharing" title=""><span class="social-round-icon fa-icon"><i class="fa fa-paperclip"></i></span>@Article 1 -- my favorite one -- submitting -- Q1</a></p>
              </div>
              <div class="col-md-3">
                <p class="social-buttons"><a href="http://forumgeografic.ro/2021/2698/" title=""><span class="social-round-icon fa-icon"><i class="fa fa-paperclip"></i></span>#Article 2 -Published- Q4</a></p>
              </div>
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://drive.google.com/file/d/1Hpye5V0f-A1q_wI1fZQFiTc5cLhw-6Hz/view?usp=sharing" title=""><span class="social-round-icon fa-icon"><i class="fa fa-paperclip"></i></span>$Article 3 - UnderReview - Q2</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Contact</h2>
            <form action="" class="reveal-content">
              <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="subject" placeholder="Subject">
              </div>
              <div class="form-group">
                <textarea class="form-control" rows="5" placeholder="Enter your message"></textarea>
              </div>
              <div class="form-group">
                <button type="submit" class=" btn btn-primary">Send message</button>
              </div> 
            </form>
          </div>
        </div>
       
     </div>
   </div>
 </div>

</main>


<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     scrollRevelation('.card');
  });
</script>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--><script type="text/javascript" src="./static/main.bc58148c.js"></script></body>

</html>